<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lawy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lawy"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lawy"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Lawy"
            android:windowSoftInputMode="adjustNothing"> <!--
            Esto soluciono el problema con la duplicación de espacio! al mostrarse el teclado
            le pones el adjustNothing y luego los imepadding() en los lugares donde sea necesario!-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>